/* ===== Colors ===== */
$body-color: #E4E9F7;
$sidebar-color: #FFF;
$primary-color: #695CFE;
$primary-color-light: #F6F5FF;
$toggle-color: #DDD;
$text-color: #707070;


/* ====== Dark Theme Variables ====== */
$Darkbody-color: #18191a;
$Darksidebar-color: #242526;
$Darkprimary-color: #3a3b3c;
$Darktoggle-color: #fff;
$Darktext-color: #ccc;
$Darksubtext-color: orange;
$tran-03: all 1ms ease;
$tran-03: all 0.3s ease;
$tran-04: all 0.3s ease;
$tran-05: all 0.3s ease;
    