{% extends "Base.html" %}

<!-- Head -->
{% block head %}

<title>Change Credentials</title>
<link rel="stylesheet" href="{{url_for('static', filename='CSS/Login.css')}}" />

{% endblock %}

<!-- Body Content -->

{% block Content %}
<section class="home FormCont">
  <div class="text">Change Your Login Credentials</div>
  <div id="Caution" class="text SecText">
    Enter Correct Username and Email linked to your Account <br />
    Both Email and Password must be Correct
  </div>
  <div class="formbars">
    <form action="{{url_for('ChangeCredentials')}}" method="post">
      <div class="text" style="text-decoration: underline; font-weight: 700">
        Change Credentials
      </div>
      <div class="text" {{Style | safe}} id="Warnings">
        {{Msg0}} <br />{{Msg1}} <br />{{Msg2}} <br />{{Msg3}}
      </div>
      <span>
        <label class="SecText" for="Usr"><b>UserName : </b></label>
        <input
          class="Padinputs SecText"
          type="text"
          name="Usr"
          id="Usr"
          placeholder="Username"
        />
      </span>
      <div class="SecText subtext">AND</div>
      <span>
        <label class="SecText" for="Usr"><b>Email : </b></label>
        <input
          class="Padinputs SecText"
          type="email"
          name="Email"
          id="Email"
          placeholder="Enter your Email..."
        />
      </span>
      <span>
        <label class="SecText" for="Passwd"><b>New Password : </b></label>
        <input
          class="Padinputs SecText"
          type="password"
          name="Passwd"
          id="Passwd"
          placeholder="New Password"
        />
      </span>
      <button class="Padinputs SecText" type="submit">Submit</button>
      <div class="Signup-forgot">
        <a href="{{url_for('Login')}}" class="SecText">
          <span>Back to Login</span>
        </a>
      </div>
    </form>
  </div>
</section>

{% endblock %}

<!-- Scripts -->
{% block Script %} {% endblock %}
