{% extends "Base.html" %}


<!-- Head -->
{% block head %}

<title>Extras</title>
{% endblock %}


<!-- Body Content -->

{% block Content %}
<section class="home">
  <div class="text">{{Content}}</div>
  <pre class="text otherdivs">
    <div class="sp">Q)  Where can I get the Source Code of the Project ?</div>      <span class="highlight">Ans:    You can get the Source Code of the Project by click <a class="text" href="https://github.com/Krishna-Noutiyal/Python-MySQL-Project.git" style="font-size: 24px; padding: 0; font-weight: bold;">HERE</a></span>
  </pre>

  <pre class="text otherdivs" style="font-weight: bold;">
    • The data stored in the database in encrypted with SHA256
  </pre>
</section>
{% endblock %}


<!-- Scripts -->
{% block Script %}

{% endblock %}
