{% extends "Base.html" %}


<!-- Head -->
{% block head %}

<title>Softwares Used</title>
{% endblock %}


<!-- Body Content -->

{% block Content %}
<section class="home">
  <div class="text">{{Content}}</div>
  <div class="text subtext otherdivs" style="font-weight: bold;">
            <pre>
              
                  1.	Text Editor : <span class="highlight"> VS Code</span>
                  
                  2.	Web Browser : <span class="highlight"> Chrome</span>
                  
                  3.	Terminal : <span class="highlight"> Window's Terminal</span>
                  
                  4.	Compilers : <span class="highlight"> Sass Compiler, Python compiler</span>
                  
                  5.	Online Host : <span class="highlight"> GitHub</span>
              
            </pre>
  </div>
</section>
{% endblock %}


<!-- Scripts -->
{% block Script %}

{% endblock %}
