{% extends "Base.html" %}


<!-- Head -->
{% block head %}

<title>Websites Used</title>
{% endblock %}


<!-- Body Content -->

{% block Content %}
<section class="home">
  <div class="text">{{Content}}</div>
  <div class="text subtext otherdivs" style="font-weight: bold;">
              <pre>
                
                1. Font used in the website : <span class="highlight">fonts.google.com</span>

                2. jQuery used in the website : <span class="highlight">ajax.googleapis.com</span>

                3. Loader in the website :  <span class="highlight">https://loading.io/css/</span>

                4. Navigation bar in the website : <span class="highlight">codinglabweb.com</span>

                5. Help in solving error in development : <span class="highlight">stackoverflow.com</span>

                6. Icons used in the Website : <span class="highlight">boxicons.com</span>

                7. Typing animation : <span class="highlight">github.com/mattboldt/typed.js/</span>

              </pre>
  </div>
</section>
{% endblock %}


<!-- Scripts -->
{% block Script %}

{% endblock %}
